<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>configurationAction</servlet-name>
    <servlet-class>com.mptcp.action.configurationAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RunAction</servlet-name>
    <servlet-class>com.mptcp.action.RunAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectResultAction</servlet-name>
    <servlet-class>com.mptcp.action.CollectResultAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchAction</servlet-name>
    <servlet-class>com.mptcp.action.SearchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>configurationAction</servlet-name>
    <url-pattern>/configurationAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RunAction</servlet-name>
    <url-pattern>/RunAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectResultAction</servlet-name>
    <url-pattern>/CollectResultAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchAction</servlet-name>
    <url-pattern>/SearchAction</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>